{% extends "base.html" %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'faq_chatbot/CSS/chatbot.css' %}">
{% endblock header %}

{% block main %}

    {% block content %}{% endblock content %}

    <div class="container">
        <h1 class="mt-5">FAQ Chatbot</h1>
        <form method="post" class="mt-3">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Ask</button>
        </form>

        {% if user_question %}
            <div class="mt-4">
                <h2>Your Question: {{ user_question }}</h2>
                {% if most_similar %}
                    <p>Most Similar FAQ: {{ most_similar.answer }}</p>
                {% else %}
                    <p>{{ custom_message }}</p>
                {% endif %}
            </div>
        {% endif %}
    </div>

{% endblock main %}