{% load static %}
<link rel="stylesheet" href="{% static "faq_chatbot/CSS/chatbot.css" %}">

    <!-- The Chatbox Display -->
    <div class="chatbox-display visible overflow-hidden bg-white rounded-4 shadow-lg m-5">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class='chatbox-header bg-primary text-center p-3 text-white'>
            <h4 class='fw-bolder'>Virtual Assistant</h4>
        </div>
        <ul class='chatbox-body overflow-y-auto pt-3 px-2 m-2'>
            <li class='bot-messages'>
                <p class=''>Hi there, how can I help you?</p>
            </li>
        </ul>
        <div class='chatbox-footer d-flex flex-row border-2 border-top border-secondary p-3'>
            <input type="text" class="border-0 p-2 d-inline-flex w-100" placeholder="Enter your question....">
            <button class='send-message d-inline-flex btn btn-outline-primary'>Send</button>
        </div>
    </div>

    <!-- The button to open display box -->
    <div class="open-chatbox-button mx-5 my-4 bg-light rounded-5 p-2">
        <input type="image" src='{% static "Images/comment.png" %}' width='40' height='40'>
    </div>

<script type="text/javascript" defer src="{% static "faq_chatbot/JS/chatbot.js" %}"></script>