body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.my_footer {
    margin-top: auto;
    position: relative;
    bottom: 0;
}

body {
    background-color: paleturquoise;
}
